﻿@page
@model Biblioteka.Pages.BookList.CreateModel

<br />
<h2 class="text-info">Dodaj nową książkę</h2>
<br />

<div class="border container" style="padding: 30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3 ">
                Tytuł ksiażki
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>
            <span asp-validation-for="Book.Name" class="text-danger"Pole nie może być puste./>
        </div>
        <div class="form-group row">
            <div class="col-3">
                Autor
            </div>
            <div class="col-6">
                <input asp-for="Book.Author" class="form-control" />
            </div>
            <span asp-validation-for="Book.Author" class="text-danger" Pole nie może być puste./>
        </div>
        <div class="form-group row">
            <div class="col-3">
                ISBN
            </div>
            <div class="col-6">
                <input asp-for="Book.ISBN" class="form-control" />
            </div>
            <span asp-validation-for="Book.ISBN" class="text-danger"Pole nie może być puste. />
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Dodaj" class="btn btn-success form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-secondary form-control">Powrót</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}
