﻿@page
@using System.Linq
@model Biblioteka.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Spis książek";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Biblioteka</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Dodaj książkę</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            Tytuł
                        </th>
                        <th>
                            Autor
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Author)
                            </td>
                            <th>
                                @Html.DisplayFor(m => item.ISBN)
                            </th>
                            <td>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edytuj</a>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Czy jesteś pewien?')" class="btn btn-danger btn-sm">Usuń</button>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Brak dostępnych książek.</p>
            }
        </form>
    </div>
</div>

