﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <div class="container p-5">
        <h1 class="display-4">Witaj na stronie biblioteki!</h1>
        <br />
        <p>W celu sprawdzenia spisu książek, przejdź do zakładki <a href="/BookList/Index">Książki.</a></p>
    </div>
</div>
